/** 自定义 Element Plus 样式 */

// 表格
.el-table {
  // 表头
  th.el-table__cell {
    background-color: var(--el-fill-color-light) !important;
  }
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}

// dialog
.el-dialog__body {
  padding: calc(var(--el-dialog-padding-primary) - 4px)
    calc(var(--el-dialog-padding-primary) + 4px);
  color: var(--el-text-color-regular);
  font-size: var(--el-dialog-content-font-size);
}
.user-sub-menu.el-popper {
  width: 180px;
  background: #ffffff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1),
    0px 8px 10px 1px rgba(0, 0, 0, 0.06), 0px 3px 14px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  .el-menu--horizontal {
    border-bottom: none;
    box-shadow: none;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
  }
  .el-menu--popup {
    min-width: 180px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1),
      0px 8px 10px 1px rgba(0, 0, 0, 0.06), 0px 3px 14px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    .el-menu--horizontal {
      border-bottom: none;
    }
    .el-menu-item {
      padding: 19px 16px;
      height: 54px;
      border-bottom: 1px solid #e7e7e7;
    }
    .last {
      border-bottom: none;
    }
    .el-sub-menu {
      border-bottom: 1px solid #e7e7e7;
      .el-sub-menu__title {
        padding: 19px 16px;
        height: 54px;
      }
    }
  }
}
.el-popper.is-light {
  border: none;
}

// input
.el-input {
  .el-input__wrapper {
    input {
      color: rgba(0, 0, 0, 0.9);
    }
    &:hover {
      box-shadow: 0 0 0 1px #1d62db inset;
    }
    &.is-focus {
      box-shadow: 0 0 0 1px #1d62db inset,
        0px 0px 0px 2px rgba(29, 98, 219, 0.26);
    }
  }
}
.el-input.is-disabled {
  border: none;
  outline: none;
  .el-input__wrapper {
    background: #eeeeee;
    outline: none;
    border: none;
    box-shadow: 0 0 0 1px #eeeeee inset;
    input {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
